 <!-- https://fonts.google.com/icons -->
 <mat-sidenav-container fullscreen>
  <mat-sidenav-content fxLayout="column">
			<mat-toolbar color="primary" class="expanded-toolbar">
			  <span>
			    <button mat-button routerLink="/">
			    	<mat-icon>home</mat-icon> {{ title }} 
			    		<span>[{{ 'Title' | translate }}] </span>
			    </button>
			  </span>
			  <div fxLayout="row" fxShow="false" fxShow.gt-sm>

			    	<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button menu">
						  <mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu">
							
							<button mat-menu-item routerLink="/rx">
						    <mat-icon>assessment</mat-icon>
						    <span>Reactive Prog.</span>
						  </button>
						  <button mat-menu-item disabled>
						    <mat-icon>voicemail</mat-icon>
						    <span>other 1..</span>
						  </button>
						  <button mat-menu-item routerLink="/">
						    <mat-icon>notifications_off</mat-icon>
						    <span>other 2..</span>
						  </button>
							
							<span class="example-spacer" style="flex: 1 1 auto;"></span>

						  <button mat-menu-item routerLink="/about" fxHide="false" fxHide.gt-sm>
					      <mat-icon>settings</mat-icon>
					      About
					    </button>
					    <button mat-menu-item *ngIf="!authenticated()" routerLink="/signin" fxHide="false" fxHide.gt-sm>
					      <mat-icon>login</mat-icon>
					      Login
					    </button>
					    <button mat-menu-item *ngIf="authenticated()" routerLink="/signup" fxHide="false" fxHide.gt-sm>
					      <mat-icon>logout</mat-icon>
					      Logout
					    </button>



					    
						</mat-menu>

						<button mat-button *ngIf="!authenticated()" routerLink="/signin">
				      <mat-icon>login</mat-icon>
				      Login
				    </button>
				    <button mat-button *ngIf="authenticated()" routerLink="/signup">
				      <mat-icon>logout</mat-icon>
				      Logout
				    </button>
				    <button mat-button routerLink="/about">
				      <mat-icon>settings</mat-icon>
				      About
				    </button>

<!-- 				    <select matNativeControl [(ngModel)]="selectLang" name="selectLang" (change)="setTransLanguage()" class="mat-input-element">
					      <option value="" selected></option>
					      	<option *ngFor="let lang of TransLang" value="{{lang}}">{{ lang }}</option>
					  </select> -->
<!-- 				    <mat-form-field appearance="fill">
					    <mat-label>Favorite car</mat-label>
					    <select matNativeControl [(ngModel)]="selectLang" name="selectLang" (change)="setTransLanguage()">
					      <option value="" selected></option>
					      	<option *ngFor="let lang of TransLang" value="{{lang}}">{{ lang }}</option>
					    </select>
					  </mat-form-field> -->

			  </div>
			  <div style="max-width:50px">
			  			<mat-form-field appearance="fill">


							  <mat-select [(ngModel)]="selectLang" name="selectLang"
							  (selectionChange)="setTransLanguage()" >

<!-- 							  	<mat-select-trigger>
									    <mat-icon></mat-icon>
									</mat-select-trigger> -->

									<mat-select-trigger>
							      <mat-icon>{{ getSelectedIcon(selectLang) }}</mat-icon>&nbsp; {{ selectLang }}
							    </mat-select-trigger>

							    <mat-option *ngFor="let lang of TransLang" value="{{lang}}"> 
							    	<mat-icon>{{ getSelectedIcon(lang) }}</mat-icon> {{ lang }}
							    </mat-option>

							  </mat-select>
						</mat-form-field>
			  </div>

			  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
			    	<mat-icon>menu</mat-icon>
			  </button>
			</mat-toolbar>

	<div class="main-content">
		<div class="alert alert-warning">
			 {{ 'Hello' | translate:param }}
		</div>

<!-- 		<mat-form-field>
      <mat-placeholder class="placeholder">Search</mat-placeholder>
      <input type="text" class="toolbar-search" matInput formControlName="search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field> -->

		<router-outlet></router-outlet>
	</div>
    
  <footer fxFlexOffset="auto">
    <div class="footer-copyright text-center py-3">
    	© 2021 Copyright <a href="https://github.com/mcteach21">mc.tech21</a>
    </div>
  </footer>

  </mat-sidenav-content>

</mat-sidenav-container>