.expanded-toolbar {
  justify-content: space-between;
  align-items: center;
}
.mat-toolbar.mat-primary {
    background: rgba(138,180,248,.24);
    color: #fff;
    padding: 10px;
}

.mat-toolbar{
  padding: 10px 20% !important;
}

footer {
/*  background: rgba(242,139,130,.24);*/
  color: #fff;
  padding: 10px;

  background: rgba(138,180,248,.24);
  position: fixed;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 100%;
}
router-outlet{
  background: rgba(129,201,149,.24);
}
    